<div class="col-xs-12">
    <div class="text-center" ng-if="customers.length == 0">
        <h3>Customers not found</h3>
        <span>Click <a ui-sref="app.customers.add">HERE</a> to add some.</span>
    </div>

    <div ng-if="customers.length > 0">
        <h3 class="text-center">Existing Customers</h3>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="6">
                        <div class="navbar-form no-padding" style="margin: 0;">
                            <div class="input-group">
                                <input ng-model="customerFilter" class="form-control" type="text">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="">Search</button>
                                    <button type="button" class="btn btn-default" ng-click="customerFilter = ''">Clear</button>
                                </span>
                            </div>
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default pull-right" ui-sref="app.customers.add">Add</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <thead ng-show="paginator.filtered.length > 0">
                <tr>
                    <th>ID Number</th>
                    <th>Full Name</th>
                    <th>Email Address</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="paginator.filtered.length == 0">
                    <td colspan="6">
                        <h4 class="text-center">No customers found.</h4>
                    </td>
                </tr>
                <tr ng-show="paginator.filtered.length > 0" ng-repeat="customer in paginator.filtered = (customers | filter : customerFilter) | startFrom : (paginator.currentPage - 1) * paginator.itemsPerPage | limitTo : 10">
                    <td>{{customer.idNumber}} - {{customer._id}}</td>
                    <td>{{customer.firstName}} {{customer.surname}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.contactNumber}}</td>
                    <td>{{customer.address}}</td>
                    <td class="text-center">
                        <span class="btn btn-group no-padding">
                            <button class="btn btn-sm btn-default" ui-sref="app.customers.view({ customer_id: customer._id })">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" tooltip="Edit"></span>
                            </button>
                            <button class="btn btn-sm btn-danger" 
                                    mwl-confirm title="Delete Customer" 
                                    message="Please confirm deletion of <b>{{customer.firstName}} {{customer.surname}}</b>." 
                                    on-confirm="delete(customer._id)" 
                                    confirm-button-type="danger" 
                                    cancel-button-type="default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" tooltip="Delete"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="paginator.numPages > 1">
                <tr>
                    <td colspan="6">
                        <ul class="pull-right"
                            style="margin: 0;"
                            uib-pagination 
                            ng-change="pageCustomers()" 
                            rotate="true" 
                            boundary-links="true" 
                            max-size="5" 
                            total-items="paginator.filtered.length" 
                            ng-model="paginator.currentPage" 
                            items-per-page="paginator.itemsPerPage" 
                            num-pages="paginator.numPages"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
